# Enlever les fichiers sans extensions (exécutables)
*
!/**/
!*.*

# Fichiers du compilateur
*.hi
*.o
*.exe

# MacOS
.DS_STORE

# Fichiers de tests JSON
*.json

# Fichiers générés par Happy
.hs
*.info